*{
    --primary:#333;
    --primary-light:#444;
    --secondary: rgb(79, 105, 131);
    --secondary-light: rgb(102, 136, 170);
    --tertiary:rgb(180, 134, 110);
    --tertiary-light:#FFD6C0;
    --quaternary:#3C6E71;
    --quaternary-light:rgb(168, 230, 235);

    margin:0px;
    padding:0px;
    background-color: var(--primary);
}

.App{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:50%;
    max-width:500px;
    margin:auto;
    margin-top:5%;
    background-color:var(--primary);
    border: 8px solid var(--primary);
    border-radius:8px;
}

.display{
    background-color:var(--primary);
    color:var(--secondary);
    border:1px solid var(--secondary);
    border-radius: 0.25em;
    box-sizing:border-box;
    width:100%;
    padding:3%;
    min-height:38px;
    text-align:right;
    word-wrap: break-word;
    font-size:200%;
}

.row{
    display:flex;
    flex-direction:row;
    width:100%;
    background-color:var(--primary);
}

.button{
    background-color: var(--primary);
    color:var(--secondary);
    border:1px solid var(--secondary);
    border-radius:0.25em;
    padding:3%;
    padding-top:5%;
    padding-bottom:5%;
    width:25%;
    font-size:200%;
}

.button:hover{
    background-color:var(--primary-light);
    color:var(--secondary-light);
}

.button:active{
    background-color:var(--secondary);
}

button:focus {
    outline:0;
}
